.btn {
  display: block;
  width: fit-content;
  padding: 12px 24px;

  color: var(--white);

  border: none;

  font-weight: bold;
  text-transform: uppercase;

  background-color: var(--primary);

  outline: none;
}

.btn:hover {
  background-color: var(--dark-orange);
  cursor: pointer;
}
