/** CSS STYLE **/

@import "basic/default.css";
@import "basic/colors.css";
@import "basic/atomic.css";
@import "button.css";
@import "card.css";
@import "header.css";
@import "biase-block.css";
@import "subscribe.css";

/* --- video section --- */

.video-section .video {
  margin-bottom: -100px;
}

.video-section .container {
  padding-bottom: 0;
}

.navigation .container {
  padding-top: 200px;
}

/* --- navigation section --- */

.navigation .nav-title {
  font-size: 52px;
}

/* --- copyright block --- */

.copyright-block div {
  font-size: 14px;
  line-height: 22px;
}

.copyright-block a {
  color: var(--blue);
  text-decoration: underline;
}
