:root {
    --white: #fff;
    --primary: #fe8a02;
    --primary-dark: #42413c;
    --black: #2a2626;
    --secondary: #908d8b;
    --blue: #1085c5;
    --background-light: #f5f4f0;
    --backround-dark: #b09a81;
    --dark-orange: #ea7600;
  }